{% extends 'main/base.html' %} 
{% block title %} Підтримати {% endblock %} 
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="mb-4">Платіжні реквізити</h2>
        <form>
          <div class="mb-3">
            <label for="cardNumber" class="form-label">Номер картки</label>
            <input type="text" class="form-control" id="cardNumber" placeholder="**** **** **** ****" required>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="expirationDate" class="form-label">Термін</label>
              <input type="text" class="form-control" id="expirationDate" placeholder="MM/YY" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cvv" placeholder="***" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Ім'я власника картки</label>
            <input type="text" class="form-control" id="name" placeholder="Taras Shevchenko" required>
          </div>
          <button type="submit" class="btn btn-primary">Зробити платіж</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}